# Введение в Python

### Задача 1

Вычислите в Python:
    
$9^2 + 6^4$;

$\log(54)$ (натуральный логарифм);

$\sqrt{8} - \sqrt{12}$;

$\sin(45) + \cos(45)$.

In [11]:
9 ** 2 + 6 ** 4

1377

In [12]:
import math
math.log(54)

3.9889840465642745

In [13]:
math.sqrt(8) - math.sqrt(12)

-0.6356744903915641

In [14]:
math.sin(45) + math.cos(45)

1.3762255133518482

### Задача 2

Напишите программу, которая запрашивает у пользователя размер обуви, а выводит на экран размер скальных туфель (туфли для скалолазания), учитывая, что обычно размер скальных туфель на 2 размера меньше обычного.

**Пример работы программы:**

*Входные данные*

    38

*Выходные данные*

    36

In [22]:
size = int(input("Введите размер обуви: "))

Введите размер обуви: 38

In [23]:
size -= 2
print(size)

36

### Задача 3

Тест по английскому языку состоит из трёх частей. Ученик последовательно вводит с клавиатуры набранные баллы за каждую часть – три целых числа. Каждое число вводится на отдельной строке, то есть `input()` запрашивается три раза. Напишите программу, которая считает итоговый балл за тест – сумму баллов за три части.

**Пример работы программы:**

*Входные данные*

    5
    4
    6
    
*Выходные данные*

    15

In [24]:
part1 = int(input("Первый результат: "))
part2 = int(input("Второй результат: "))
part3 = int(input("Третий результат: "))

Первый результат: 5
Второй результат: 4
Третий результат: 6

In [25]:
score = part1 + part2 + part3
print(score)

15

### Задача 4

В переменной `salary` хранится значение заработной платы человека в рублях (можете сами присвоить `salary` какое-нибудь значение).

Напишите программу, которая выражает заработную плату человека в *тысячах рублей* и


a) сохраняет результат в переменную `salary_th` и выводит результат на экран;

b) выводит на экран сообщение (с подставленным вместо `___` значением):

    Ваша заработная плата __ тысяч рублей.
    
**Пример работы программы (пункт a):**


*Входные данные*

    salary = 35000

*Выходные данные*
    
    35
    
**Пример работы программы (пункт b):**


*Входные данные*

    salary = 35000

*Выходные данные*
    
    Ваша заработная плата 35 тысяч рублей.

In [28]:
salary = "35000"
print(salary[:2])

35

In [29]:
print("Ваша заработная плата " + salary[:2] + " тысяч рублей.")

Ваша заработная плата 35 тысяч рублей.

In [30]:
# Более длинный вариант
salary = "35000"
salary_th = salary[:2]
print(salary_th)

35

In [31]:
print("Ваша заработная плата " + salary_th + " тысяч рублей.")

Ваша заработная плата 35 тысяч рублей.

### Задача 5

Напишите программу, которая запрашивает у пользователя сумму (в рублях), которую он хочет перевести своему другу на карту другого банка, и возвращает сумму списания (в рублях) с учётом комиссии банка 5%.

*Примечание:* считайте, что сумма перевода – целое число.

**Пример работы программы:**

*Входные данные*

    1000

*Выходные данные*

    1050.0

In [1]:
to_send = int(input("Сумма для перевода, в рублях: "))

Сумма для перевода, в рублях: 1000

In [2]:
to_put = to_send * 1.05
print("Сумма к внесению с учетом комиссиии, в рублях:", to_put)

Сумма к внесению с учетом комиссиии, в рублях: 1050.0

### Задача 6

Питон выполз на улицу погулять и решил поиграть: просил прохожих назвать какую-нибудь цифру (т.е. ввести её с клавиатуры) и приписывал эту цифру к цифре, которую назвал предыдущий прохожий. Напишите код, который позволит определить, какое число получится после опроса четырёх прохожих, если известно, что первый прохожий назвал цифру 5. Задача не подразумевает использование циклов; запускать код несколько раз / копировать строки кода или ячейки можно. Обратите внимание: в результате должно получиться *целое число*, не строка.

**Пример-пояснение:** первый назвал цифру 5, второй ‒ цифру 6, третий ‒ 3. Получили число 563.

**Пример работы программы:**

*Входные данные*

    5
    6
    3
    0
    
*Выходные данные*
    
    5630

**Подсказка:** для склеивания строк (такая операция называется *конкатенацией*) в Python используется `+`:

In [2]:
a = "pass"
b = "word"

print(a + b)

password

In [3]:
first = input("Назовите любую цифру: ")
second = input("Назовите любую цифру: ")
third = input("Назовите любую цифру: ")
fourth = input("Назовите любую цифру: ")

Назовите любую цифру: 5
Назовите любую цифру: 6
Назовите любую цифру: 3
Назовите любую цифру: 0

In [4]:
print(first + second + third + fourth)

5630

### Задача 7* (дополнительная)

Дано целое число `n`. Выведите следующее за ним чётное число. При решении этой задачи *нельзя* использовать условный оператор `if` и циклы.

**Подсказка.** В Python существует оператор целочисленного деления `//` (обсуждалсся в видео-уроках) и взятия остатка при делении `%`. Например, результат выполнения операции `15 % 7` равен 1:

In [3]:
15 % 7 # 15 : 7 = 2 и 1 в остатке

1

**Примеры работы программы**

*Входные данные*

    7

*Выходные данные*

    8

*Входные данные*

    8

*Выходные данные*

    10

In [ ]:
n = int(input("Введите целое число: "))

In [ ]:
from math import floor
next_n = n + ((n % floor(n / 2)) * -1 + 2) 
print("Следующее целое число", next_n)