# Базовые структуры данных

**NB!** Во всех заданиях обязательно наличие выдачи.

## Индексация списка

In [0]:
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]

### 1.
Из приведенного выше списка списков выведите с помощью индексов число `7`.

In [3]:

L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]
print(L[0][0][6])

7

### 2.
Из приведенного выше списка списков выведите с помощью индексов число `49`.

In [62]:
L = [[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]], 
    [[21, 22, 23, 24, 25, 26, 27, 28, 29, 30], [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]], 
    [[41, 42, 43, 44, 45], [46, [47, 48], 49, 50], [51, 52, 53, 54, 55], [56, 57, 58, 59, 60]], 
    [61, 62, 63, [64, 65, 66, 67, 68, 69, 70, 71], 72, 73, 74, [75, [76, 77, 78], 79], 80], 
    [81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]]
print(L[2][1][2])

49

### 3.
Из приведенного выше списка списков выведите с помощью индексов число `78`.

In [63]:
print(L[3][7][1][2])

78

### 4.
Из приведенного выше списка списков выведите с помощью индексов (используя **отрицательные значения**) число `99`.

In [64]:
print(L[-1][-2])

99

### 5.
Из приведенного выше списка списков сделайте **срез** с числом `74`.

In [65]:
print(L[3][6:7])

[74]

### 6.
Из приведенного выше списка списков сделайте **срез** с числами `47, 48`.

In [66]:
print(L[2][1][1:2])

[[47, 48]]

### 7.
Из приведенного выше списка списков сделайте **срез** с числами `77, 78`.

In [67]:
print(L[3][7][1][1:])

[77, 78]

## Функция range()

### 8.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 1, 2, 3, 4]`

In [2]:
list(range(5))

[0, 1, 2, 3, 4]

### 9.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[3, 4]`

In [6]:
list(range(3, 5))

[3, 4]

### 10.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[4, 8, 12, 16]`

In [7]:
list(range(4, 17, 4))

[4, 8, 12, 16]

### 11.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[16, 12, 8, 4]`

In [9]:
list(range(16, 3, -4))

[16, 12, 8, 4]

### 12.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[0, 5, 10]`

In [10]:
list(range(0, 11, 5))

[0, 5, 10]

### 13.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[10, 5, 0]`

In [11]:
list(range(10, -1, -5))

[10, 5, 0]

### 14.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]`

In [12]:
list(range(-10, 0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

### 15.
С помощью функции `range` сгенерируйте следующую последовательность: <br>
`[-10, -16, -22, -28, -34]`

In [13]:
list(range(-10, -35, -6))

[-10, -16, -22, -28, -34]

## Операторы и типы данных

Этот блок должен быть решен **БЕЗ** использования готовых функций и сторонних библиотек. Используйте операторы.

### 16.
Часы показывают время в формате h:mm:ss (количество часов (от 0 до 23), двузначное количество минут, двузначное количество секунд). Количество минут и секунд при необходимости дополняются до двузначного числа нулями.

Программа должна запрашивать количество секунд S, которое прошло с начала суток, и выводить в формате h:mm:ss, какое время будут показывать часы. <br><br>

*Формат ввода:* <br>
3600<br><br>

*Формат вывода:* <br>
1:00:00

In [48]:
s = int(input("Введите количество секунд: "))

Введите количество секунд: 19925

In [49]:
ss = s % 60
mm = (s % 3600) // 60
h = str(s // 3600)
print(h + ":%02d" % mm + ":%02d" % ss)

5:32:05

### 17.
Машина выезжает на нулевой километр МКАД и едет по часовой стрелке с постоянной скоростью V километров в час. На каком километре МКАД машина окажется через T часов? 
<br> Длина МКАД: 109 км. <br><br> 

*Формат ввода:* <br>
60 <br>
1
<br><br>
*Формат вывода:* <br>
60

In [1]:
v = float(input("Введите скорость автомобиля: "))
t = float(input("Введите время в пути в часах: "))

Введите скорость автомобиля: 83.5
Введите время в пути в часах: 2.25

In [2]:
l = v * t
km_mkad = str(l % 109)
print("Итоговое местоположение на МКАД: " + km_mkad + " км")

Итоговое местоположение на МКАД: 78.875 км

### 18.
Напишите программу, которая запрашивает целое пятизначное число и выводит сумму его цифр.

*Формат ввода:* <br>
11111
<br><br>
*Формат вывода:* <br>
5

In [3]:
number = input("Введите целое пятизначное число: ")

Введите целое пятизначное число: 02468

In [4]:
figures_sum = int(number[0]) + int(number[1]) + int(number[2]) + int(number[3]) + int(number[4])
print("Сумма цифр: " + str(figures_sum))

Сумма цифр: 20

### 19.
Напишите программу, которая запрашивает целое четырехзначное число и меняет местами его две первые и две последние цифры.

*Формат ввода:* <br>
5236 
<br><br>
*Формат вывода:* <br>
3652

In [19]:
input_number = input("Введите целое четырехзначное число: ")

Введите целое четырехзначное число: 5236

In [20]:
# Прежний вариант
# number_list = [input_number[:2], input_number[2:4]]
# output_number = number_list[1] + number_list[0]

# Исправленный вариант
output_number = input_number[2] + input_number[3] + input_number[0] + input_number[1]
print("Преобразованный формат Вашего числа: " + output_number)

Преобразованный формат Вашего числа: 3652

### 20.
Напишите программу, которая на основании параметра D (сколько километров в день преодолевает машина), расчитывает сколько дней она затратит на путь длиной P километров.  <br><br>
*Формат ввода:* <br>
105 <br>
120
<br><br>
*Формат вывода:* <br>
2

In [14]:
D = int(input("Cколько километров в день преодолевает машина: "))
P = int(input("Длина пути в километрах: "))

Cколько километров в день преодолевает машина: 105
Длина пути в километрах: 211

In [15]:
how_many_days = P // D + (P % D != 0)
print("Количество дней на преодоление пути:", how_many_days)

Количество дней на преодоление пути: 3

### 21.
Напишите программу, которая считает, сколько рублей и копеек нужно заплатить за N авокадо, если один авокадо стоит R рублей и K копеек. <br><br>
*Формат ввода:* <br>
40 20 <br>
5
<br><br>
*Формат вывода:* <br>
201 руб. 00 коп.

# Прежний вариант
items = int(input("Количество: "))
rub = input("Рублей: ")
kop = input("Копеек: ")
avocado_price_in_kop = rub + kop
total_price_in_kop = int(avocado_price_in_kop) * items
total_price_in_figures = list(str(total_price_in_kop))
total_rub = ''.join(total_price_in_figures[:-2])
total_kop = total_price_in_figures[-2] + total_price_in_figures[-1]
print('Общая стоимость: ' + total_rub + ' рублей ' + total_kop + ' копеек')

In [96]:
# Исправленный вариант
price = input("Введите стоимость авокадо: ")
items = int(input("Введите количество штук: "))

Введите стоимость авокадо: 40 20
Введите количество штук: 5

In [97]:
price_in_kop = price.split()
total_price_in_kop = int(price_in_kop[0] + price_in_kop[1]) * items
total_price_in_rub = str(total_price_in_kop / 100)
total = total_price_in_rub.split('.')
print('Общая стоимость: ' + total[0] + ' рублей ' + "%02d" % int(total[1]) + ' копеек')

Общая стоимость: 201 рублей 00 копеек

### 22.
Пусть организаторы мероприятия неправильно составили гугл-форму и просили людей указывать ФИО в неправильном порядке. Сначала спрашивали имя, потом отчество, затем фамилию. Напишите программу, которая будет переставлять ФИО в нужный порядок. <br> <br> 

*Формат ввода:* <br>
Иван Иванович Иванов<br><br>
*Формат вывода:* <br>
Иванов Иван Иванович

# Прежний вариант
iof = []
iof.append(input("Введите имя: "))
iof.append(input("Введите отчество: "))
iof.append(input("Введите фамилию: "))
fio = iof[::-2] + iof[1::2]
print(fio[0], fio[1], fio[2])

In [94]:
# Исправленный вариант
iof = input("Введите имя, отчество и фамилию: ")

Введите имя, отчество и фамилию: Иван Иванович Иванов

In [95]:
fio = iof.split()
print(fio[2], fio[0], fio[1])

Иванов Иван Иванович

## Cловари и списки

### 23.
У вас есть список с заказом в ресторане. Напишите программу, которая меняет указанное по названию блюдо на другое. При этом новое блюдо в списке будет расположено на месте того, что было заменено.

*Формат ввода:* <br>
белое вино<br>
красное вино <br><br>
*Формат вывода:* <br>
`['красное вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']`

In [48]:
search = input("Что ищете? ")
change = input("На что меняете? ")

Что ищете? белое вино
На что меняете? красное вино

In [49]:
order = ['белое вино', 'салат Цезарь', 'паста Карбонара', 'чизкейк', 'шоколадный сорбет']
elem = order.index(search)
order[elem] = change
order

['красное вино',
 'салат Цезарь',
 'паста Карбонара',
 'чизкейк',
 'шоколадный сорбет']

__________________
Вам дан словарь c расписанием на неделю.

In [0]:
diary = {'понедельник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'вторник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'среда': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'четверг': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'пятница': {
                          'утро': ['заехать в шиномонтаж', 'помыть машину'],
                          'день': [],
                          'вечер': ['поход в театр',  'ужин в кафе']
                                      },
        'суббота': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      },
        'воскресенье': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      }}

### 24.
Удалите ключи `суббота` и `воскресенье`. Вместо них добавьте пару, где ключ это кортеж `суббота, воскресенье`, а значение – список с делом `посадить цветы на даче`. Можно ли сделать ключ `суббота, воскресенье` списком?

In [38]:
diary = {'понедельник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'вторник': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'среда': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'четверг': {
                          'утро': ['погулять с собакой'],
                          'день': [],
                          'вечер': ['погулять с собакой']
                                      },
        'пятница': {
                          'утро': ['заехать в шиномонтаж', 'помыть машину'],
                          'день': [],
                          'вечер': ['поход в театр',  'ужин в кафе']
                                      },
        'суббота': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      },
        'воскресенье': {
                          'утро': [],
                          'день': [],
                          'вечер': []
                                      }}

del diary['суббота']
del diary['воскресенье']
diary[('суббота', 'воскресенье')] = 'посадить цветы на даче'
diary

{'понедельник': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'вторник': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'среда': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'четверг': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'],
  'день': [],
  'вечер': ['поход в театр', 'ужин в кафе']},
 ('суббота', 'воскресенье'): 'посадить цветы на даче'}

### В словаре список в качестве ключа использовать нельзя (TypeError: unhashable type: 'list'), потому что список изменяемый. При изменении ключа интерпретатору станет недоступна прежняя хеш-ссылка на неизменяемый объект.

### 25.
Добавьте в список дел во вторник утром `поход к зубному`.

In [47]:
diary['вторник']['утро'].append('поход к зубному')
diary

{'понедельник': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'вторник': {'утро': ['погулять с собакой', 'поход к зубному'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'среда': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'четверг': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'],
  'день': [],
  'вечер': ['поход в театр', 'ужин в кафе']},
 ('суббота', 'воскресенье'): 'посадить цветы на даче'}

### 26.
Замените `поход в театр` на `поход в кино` в списке дел в пятницу вечером.

In [48]:
diary['пятница']['вечер'][0] = 'поход в кино'
diary

{'понедельник': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'вторник': {'утро': ['погулять с собакой', 'поход к зубному'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'среда': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'четверг': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'],
  'день': [],
  'вечер': ['поход в кино', 'ужин в кафе']},
 ('суббота', 'воскресенье'): 'посадить цветы на даче'}

### 27.
Ваш друг вернется из отпуска на один день раньше, поэтому он заберет свою собаку в среду, а не в четверг. Удалите дело `погулять с собакой` из соответствующих списков.

In [57]:
# менее наглядный пример
# del diary['четверг']['утро'][0]
# del diary['четверг']['вечер'][0]

# более наглядный пример
diary['четверг']['утро'].remove('погулять с собакой')
diary['четверг']['вечер'].remove('погулять с собакой')
diary

{'понедельник': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'вторник': {'утро': ['погулять с собакой', 'поход к зубному'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'среда': {'утро': ['погулять с собакой'],
  'день': [],
  'вечер': ['погулять с собакой']},
 'четверг': {'утро': [], 'день': [], 'вечер': []},
 'пятница': {'утро': ['заехать в шиномонтаж', 'помыть машину'],
  'день': [],
  'вечер': ['поход в кино', 'ужин в кафе']},
 ('суббота', 'воскресенье'): 'посадить цветы на даче'}

### 28.
Выведите второе дело из списка дел, которые вам нужно сделать в пятницу утром.

In [60]:
print(diary['пятница']['утро'][1])

помыть машину